body {
    font-family: 'Inter', sans-serif;
}

body.is-lock {
	overflow: hidden;
}

.class__header {
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 11px;
    box-sizing: content-box;
    /* border: 1px solid #cecece; */
}

.container {
	padding-top: 12px;
	padding-bottom: 12px;
}

.class__header-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-logo {
    display: block;
    min-width: 100px;
    width: 100px;
    height: 48px;
}
.header-logo img {
    object-fit: contain;
}

.name {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #212121;
    padding-left: 16px;
}

.header-media {
    display: flex;
  margin-left: auto;
  align-items: center;
  gap: 24px;
}


.media {
    display: block;

}

.media img {
    object-fit: contain;

}

.help-header {

    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #212121CC;

}

.header-call {
    padding-left: 16px;

}

.phone {
    display: block;
}

.phone img {
    object-fit: contain;

}

.link {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-decoration-line: underline;
    color: #212121;
}

/* @media (max-width: 800px) {
	.help-header {
		display: none;
	}
}

@media (max-width: 630px) {
	.name {
		display: none;
	}
}

@media (max-width: 430px) {
	.media {
		display: none;
	}
} */

.frame {
    padding-top: 90px;
}

.frame__wrap {
    display: flex;
    justify-content: space-between;
	align-items: center;
}

.frame__content {
    max-width: 598px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.frame__name {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    /* font-family: 'Montserrat';
    font-style: normal; */
    color: #212121;
    /* p.s  здесь должен быть Montserrat, но он не работает */
}

.decr {
display: flex;
align-items: center;
margin-top: 24px;
margin-bottom: 32px;
}

.decr-text {
font-weight: 500;
font-size: 14px;
line-height: 18px;
}

.tick {
    width: 18px;
    height: 18px;
    border-radius: 100px;
    margin-right: 8px;
}

.frame_text {
    font-weight: 500;
    font-size: 18px;
    color: #4D4D4D;
    line-height: 24px;
    /* margin-bottom: 16px; */
}

.free-constl {
    /* display: flex;
    justify-content: flex-start; */
    /* width: auto; */
	width: fit-content;
    height: auto;
    background-color: #3E38F2;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
     text-align: center;
    color: #ffff;
     cursor: pointer;
    padding-top: 10px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 20px rgba(62, 56, 242, 0.4);
    margin-top: 16px;
}

.frame__img {
	max-width: 600px;
	height: 408px;
	width: 50%;
}

.description__line {
   max-width: 200px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 62px;
   margin-bottom: 60px;
   object-fit: contain;

}

.headline::first-letter {
    color: #3E38F2;

}

.description-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    color: #212121;

    margin-bottom: 32px;
}



.cards-description {
display: flex;
flex-wrap: wrap;
}



.description__card {
margin: auto;
width: 280px;
border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.2);
}

.card__teeth-text {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding-top: 16px;
    padding-right: 48px;
    padding-left: 48px;
    padding-bottom: 16px;
    white-space: nowrap;
}


.photo {
    max-width: 280px;
    object-fit: contain;
}


/* .class__director {

} */

.box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.director-descr {
display: flex;
flex-direction: column;

}

.words-direct {
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    color: rgba(33, 33, 33, 0.5);

}

.hospital-open-word::first-letter {
    color: #3E38F2;
}

.hospital-open {
    margin-top: 8px;
    color: #212121;
    font-size: 22px;
    line-height: 130%;
    font-weight: 600;
}

.words-hospital {
   margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 170%;
    color: #4D4D4D;
}

.women {
    max-width: 456px;
    height: 360px;

}

.name-direct {
    font-size: 14px;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 62px;
}

.dental-office_photo {
    display: flex;
    align-items: center;
}

.strelka {
    width: 8px;
    height: 16px;
    margin-left: 16px;
    margin-right: 16px;
    cursor: pointer;
}

.dental {
 max-width: 323px;
}

.dental1 {
    max-width: 448px;
}



.circle {
    display: flex;
    justify-content: center;
    align-items: center;




}

.button1 {
    width: 6px;
    height: 6px;
    cursor: pointer;
    margin-left: 8px;
    margin-right: 8px;
}

.info {
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.advant {
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 11px;
    box-sizing: content-box;
}

.case {
    display: flex;
    justify-content: center;
    margin-top: 32px;

}

.title::first-letter {
    color: #3E38F2;
}

.advant__title {
    font-size: 22px;
    font-weight: 600;
    line-height: 130%;
    color: #212121;
    display: flex;
    justify-content: center;

}

/* .text-1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    color: #212121;
} */

.advant__text {
    display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;

}

.text-ad {
    font-size: 16px;
    line-height: 130%;
    font-weight: 400;
    color: #212121;
    margin-top: 18px;
}

.medicine {
    max-width: 598px;
    height: 242px;
    border-radius: 4px;
}

.applicta {
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 11px;
    box-sizing: content-box;
}

.applicta__card {
     display: flex;
    justify-content: center;
    align-items: center;
}

.appl {
	display: flex;
	align-items: center;
	justify-content: center;
    width: 1216px;
    height: 178px;
    background: linear-gradient(91.24deg, #3E38F2 0%, rgba(62, 56, 242, 0.7) 100%);
    box-shadow: 0px 0px 25px rgba(62, 56, 242, 0.3);
    border-radius: 10px;

}

.applicta__content {
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;

}

.applicta__text {
    font-size: 22px;
    font-weight: 600;
    line-height: 130%;
    color: #FFFFFF;
	text-align: center;
}

.applicata__form {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-top: 16px;
}

.applic__phone {
	width: 232px;
	height: 42px;
	border: 1px solid rgba(255,255,255,.6);
	border-radius: 4px;
	padding: 0 12px;
	color: #fff;
}

.applic__phone::placeholder {
	color: rgba(255,255,255,.8);
}


.applicta__button {
    border-radius: 4px;
    background-color: #FFFFFF;
    width: fit-content;
    height: auto;
    text-align: center;
}

.diagnost {
    font-size: 14px;
    font-weight: 600;
    line-height: 130%;
    color: #3E38F2;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 32px;
    padding-right: 32px;
	border-radius: 4px;
}

.applicta__tel {
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    width: fit-content;
    height: auto;
}

/* .tel__but {
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    text-align: right;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 96px;
} */


/*
@media (max-width: 850px) {

	.frame__wrap {
		flex-direction: column-reverse;
	}

	.frame__img {
		width: 100%;
	}

	.cards-description {
		gap: 16px;
	}
}

@media (max-width: 360px) {

	.frame__name {
		font-size: 16px;
		line-height: 24px;
	}
} */

/* @media (any-hover: hover) {
	body {
		color: orange;
	}
}

@media (any-hover: none) {
	body {
		color: orange;
	}
} */



/* @media (min-width: 500px) {

	.frame__name {
		color: red;
	}
} */

/* @media (min-width: 500px) and (max-width: 900px) {

	.frame__name {
		color: red;
	}
} */






.menu {
	margin-left: auto;
	margin-right: auto;
	padding: 0 16px;
}

.menu__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 8px 16px;
}

.menu__link {
	font-size: 14px;
	white-space: nowrap;
	transition: .3s;
}

.menu__link:hover {
	color: #2F89CE;
}

.burger {
	display: none;
}

@media (max-width: 1050px) {
	.help-header {
		display: none;
	}

	.name {
		font-size: 12px;
	}
}

@media (max-width: 900px) {
	.menu {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		visibility: hidden;
		/* transform: translateX(100%); */
		transition: opacity .3s, visibility .3s;
		/* transition: transform .3s; */
	}

	.menu.is-show {
		visibility: visible;
		opacity: 1;
		/* transform: translateX(0); */
	}

	.burger {
		position: relative;
		display: inline-block;
		min-width: 24px;
		width: 24px;
		height: 24px;
		margin-left: 16px;
	}

	.burger span {
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		width: 100%;
		height: 2px;
		background-color: #212121;
		transition: 300ms;
	}

	.burger span:nth-child(1) {
		transform: translateX(-50%) translateY(calc(-50% - 6px));
	}

	.burger span:nth-child(2) {
		transform: translate(-50%, -50%);
	}

	.burger span:nth-child(3) {
		transform: translateX(-50%) translateY(calc(-50% + 6px));
	}

	.burger.is-close span:nth-child(1) {
		transform: translateX(-50%) translateY(-50%) rotate(45deg);
	}

	.burger.is-close span:nth-child(2) {
		width: 0;
	}

	.burger.is-close span:nth-child(3) {
		transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	}

	.menu__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 24px;
	}

	.menu__link {
		font-size: 20px;
	}
}





@media (max-width: 900px) {
	.frame__wrap {
		flex-direction: column-reverse;
	}

	.frame__content {
		margin-top: 24px;
	}

	.frame__img {
		width: 100%;
		max-width: none;
	}
}

.certif {
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 11px;
    box-sizing: content-box;
}

.certif__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.cerf {
    max-width: 248px;
    object-fit: contain;
   
}

.certif__photo {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.certif__text::first-letter {
    color: #3E38F2;
}

.certif__text {
    font-size: 22px;
    font-weight: 600;
    line-height: 130%;
    color: #212121;
    margin-bottom: 32px;
}

.team {
    /* display: flex;
    justify-content: center;
    align-items: center;
   max-width: 1216px;
   flex-direction: column; */
   max-width: 1216px;
    margin: 0 auto;
    padding: 0 11px;
    box-sizing: content-box;


}

.team__text::first-letter {
    color: #3E38F2;
}

.team__text {
    font-size: 22px;
    line-height: 130%;
    font-weight: 600;
    color: #212121;
    text-align: center;
}

.team__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 32px;
    
}

.team__card {
    max-width: 250px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.team__worker {
    object-fit: contain;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.team__texts {
   margin-left: 10px;
   margin-right: 10px;
}

.team__title {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 600;
    line-height: 130%;
    color: #212121;
}

.team__descr {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
    opacity: 0.8;
}

.team__subbtitle {
    margin-top: 6px;
    font-size: 14px;
    font-weight: 600;
    line-height: 130%;
    opacity: 0.8;
    color: #212121;
}

.team__btn {
background: #3E38F2;
border: 1px solid #3E38F2;
width: fit-content;
height: auto;
border-radius: 4px;
font-size: 14px;
font-weight: 500;
text-align: center;
color: #ffff;
cursor: pointer;
padding-top: 6px;
padding-left: 74px;
padding-right: 74px;
padding-bottom: 6px;
margin-top: 18px;
margin-bottom: 10px;
margin-left: 10px;
margin-right: 10px;
}

/* .team__works {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.strel {
    display: flex;
    justify-content: center;
    align-items: center;
} */